/* GameSense-inspired CSS for Fibr */
/* Header */



header {
  font-family: 'Verdana';font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0f;
  color: #fff;
  padding: 0.8rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 1rem;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 5rem;
}

nav a {
  color: #ffffff;
  font-family: 'Verdana';font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Main */
main {
  display: flex;
  font-family: 'Noto Sans';font-size: 22px;
  height: calc(100vh - 4rem);
  background-color: #282c34;
  color: #fff;
}

.sidebar {
  width: 20%;
  background-color: #0e0e0e;
  padding: 0.5rem;
}

.chat {
  width: 80%;
  padding: 1rem;
}

.messages {
  height: 80vh;
  overflow-y: auto;
}

.message-form {
  margin-top: 1.9rem;
}

#message-input {
  padding: 0.5rem;
  border-radius: 1.25rem;
  border: none;
  width: 80%;
  margin-right: 1rem;
  font-size: 1.2rem;
}

#send-button {
  background-color: #02001c;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#send-button:hover {
  background-color: #020863;
}
